extends layout

block content
  h1= title
  p
    | Category( health, wealth, or soul)
    input(type='text' id= 'inputCategory')

  p
    | Description
    input(type='text' id= 'inputDescription')
  button(id='btnAddTask') Add task

  h1(style='background-color: black; color: white') Tasks
  #tasks
    h2 Health
    for each in allTasks
      if(each.category == 'health')
        p= each.description
    h2 Wealth
    for each in allTasks
      if(each.category == 'wealth')
        p= each.description
    h2 Soul
    for each in allTasks
      if(each.category == 'soul')
        p= each.description
  h1(style='background-color: black; color: white') Daily Plan
  #plan
    div
      ol(style='background-color: #E5E4E2')
        li Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        li purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
