extends layout

block content
  h1= title
  h2(style='background-color: black; color: white') Tasks
  #accordion
    h3 Health
    div
      ul(style='background-color: #E5E4E2')
        li Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        li ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    h3 Wealth
    div
      ul(style='background-color: #E5E4E2')
        li Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        li purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    h3 Soul
    div
      ul(style='background-color: #E5E4E2')
        li Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        li purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor

  h2(style='background-color: black; color: white') Daily Plan
  div
    ol(style='background-color: #E5E4E2')
      li Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      li purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
