extends layout

block content
  h1= title
  p
    | Category
    select(id= 'inputCategory')
      option(value='health') Health
      option(value='wealth') Wealth
      option(value='soul') Soul

  p
    | Description
    input(type='text' id= 'inputDescription' style='width: 400px')
  button(id='btnAddTask') Add task

  h1(style='background-color: black; color: white') Tasks
  #tasks
    h2 Health
    #health
      ul
    h2 Wealth
    #wealth
      ul
    h2 soul
    #soul
      ul
 
  h1(style='background-color: black; color: white') Daily Plan
  #plan
    div
      ol(style='background-color: #E5E4E2')
        li Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        li purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
